@import "ui/notebook/doc_elements.less";
@import "ui/effects.less";

@import "../js/yui/reset-fonts/reset-fonts.css";
@import "../js/yui/container/assets/container.css";
@import "../js/yui/assets/skins/sam/skin.css";
@import "css/inputEx.css";


/*@base_color: #07090B;*/
@base_color: #1B68B1;
@base_light: lighten(@base_color, 20);
@gradient_dark: @base_color;
@gradient_light: lighten(@gradient_dark, 20);

@complement: spin(@base_color, 180);
@complement_fade1: desaturate(lighten(@complement, 56),50);

@triad1: @base_color;
@triad2: spin(@triad1, 120);
@triad3: spin(@triad2, 120);

@split_comp_left: spin(@base_color, -40);
@split_comp_right: spin(@base_color, 40);

@contrast_color1: @triad3;
@base_fade1: desaturate(@base_color, 40);

@light_background: desaturate(lighten(@base_color, 55), 50);
@light_border: darken(@light_background, 20);
@dark_border: darken(@light_border, 10);

@highlight1: @complement;
@light_highlight1: lighten(@highlight1, 45);

@highlight2: @triad3;
@light_highlight2: lighten(@highlight2, 45);

@text_background: #fff;

@header_height: 50px;

.cloth-texture {
    background: #DDD url('../images/notebook-background-texture.png') repeat top left;
}

.paper-texture {
    background: #fff url('../images/paper-texture.png') repeat;
}



.sapphire {
    .grid();
/*    margin:1em auto;*/
    height:100%;
/*    min-height:400px;*/
    background-color: @light_background;
    .css3_linear_gradient(@light_background, darken(@light_background, 7));
/*    .css3_border_radius(10px 10px 10px 10px);*/
/*    .css3_box_shadow(0, 0, 10px, #555);*/
    

    
    #header {
        .grid_span(8);
        @text_color: @light_background;
        
        background-color: @base_light;
        .css3_linear_gradient(@base_color, @base_light);
        border-bottom: 2px solid @base_color;
        height:@header_height;
/*        .css3_border_radius(10px 10px 0 0);*/
        
        
        line-height: @header_height;
        color: @text_color ;
        
        .title {
            height: @header_height;
            .grid_span(3);
            .grid_left;
            .grid_gap_none;
            padding-left: 1em;
            h1 {
                margin:0;padding:0;
                line-height: @header_height;
                color: @text_color;
            }
        }
        
        .links {
            .grid_span(3);
            .grid_right;
            .grid_gap_none;
            font-size:80%;
            text-align:right;
            padding-right: 1em;
            li {
                display: inline;
                padding: 0 0.5em 0 0.5em;
            }
            a {
                color: @text_color;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        
    }
    
        
        
        
    #sidebar {
        .grid_span(2);
        .grid_left;
        
        
        color:@base_light;
        
        
        
        ul.documents {
            margin: 5em 0 2em 2em;
            li {
                margin: 1px 0;
                padding: 1em;
                .css3_border_radius(2em 0 0 2em);
                
                color: @base_fade1;
                text-align: right;
                
                a {
                    color: @base_fade1;
                    text-decoration: none;
                    

                }
                
                
                &.current {
                    background-color: @text_background;
                    color: @base_fade1;
/*                    .css3_box_shadow(3px, 3px, 3px, #6A6A6A);*/
                    border: 1px solid @light_border;
                    
                    border-right: none;
                    
                    a {
                        color: @base_fade1;
                    }
                    
                    &:hover {
                        border-color: @dark_border;
                    }
                }
                
                &:hover {                    
                    a {
                        color: @highlight1;
                        text-decoration: underline;
                    }
                }
                
            }
        }
        
        
    }
        
    #view {
        
        .grid_span(6);
        .grid_left;
                
        .document {
            min-width: 500px;
            margin: 1em;
            margin-left:0;
            text-align: left;
            background-color: @text_background;
            border: 1px solid @light_border;
            
            .css3_border_radius(10px);
            
            &:hover{
                border-color: @dark_border;
            }

            .document-heading {
                @heading_height: 1em;
                font-size: 110%;
                padding: 1em;
                line-height: @heading_height;
                background-color: lighten(@base_light, 20);
                .css3_border_radius(10px 10px 0 0);
                border-bottom: 2px solid @light_border;
                
            }
            
            .document-body {
                padding: 1em;
                
                .document-element {
                    padding: 1em;
                    text-align:left;
                    background-color: @text_background;
                    border: 1px solid @text_background;
                
                    &:hover { 
                        .css3_border_radius();
                        background-color: @light_highlight2;
                        border: 1px solid @highlight2;
                    }
    
                    &.selected {
                        border: 1px dotted #395BFF;
                    }
                }

                .text-block {
                    .document-element
                }

                .table-block {
                    .document-element;
    
                    table {
                        border: 1px solid #6699CC;
                        border-collapse: collapse;
                        margin: 20px;
        
                        th {
                            border-bottom: 1px dashed #6699CC;
                            padding: 12px;
                        }
        
                        td {
                            color: #666699;
                            padding: 9px;
                        }
        
                        tbody tr:hover td {
                            background-color: #D0DAFD;
                            color: #333399;
                        }
                    }
                }
            }
        }
    }
    
    #footer {
        .grid_span(6);
        .grid_prepend(2);
        font-size:50%;
        color: @light_border;
        text-align:left;
        
        a {
            color: @light_border;
        }
        
        li {
            display: inline;
            padding-right:1em;
        }
    }
}

